body {
    background: linear-gradient(to bottom, #039444, #000000); 

}
p, li {
color:lightgreen;



}
h1, h2 {
color:rgb(39, 172, 79);

}
h4 {
color:darkseagreen;


}
.titulo {
    border: 2px solid rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    display: inline-block; 
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
}
h1, h2 {
    border: 2px solid rgba(10, 221, 116, 0.5);
    padding: 15px; 
    display: inline-block; 
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 8px; 
    color: white; 
    }
    h3 {
color: rgb(8, 238, 123)
 }
 a {
color: rgb(82, 255, 2)

 }
 .img {
    width: 100px; 
    height: auto; 
    border-top: 30px;
    border-color: rgb(35, 141, 67)
  }