body {
    background: linear-gradient(to bottom, #039444, #000000); 

}


p, li {
color:lightgreen;



}
h1, h2 {
color:rgb(39, 172, 79);

}
h4 {
color:rgb(63, 216, 63);


}


.titulo {
    border: 2px solid rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    display: inline-block; 
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
}


h1, h2 {
    border: 2px solid rgba(10, 221, 116, 0.5);
    padding: 15px; 
    display: inline-block; 
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 8px; 
    color: white; 
    }


    h3 {
color: rgb(8, 238, 123)
 }


 .img {
    width: 200px; 
    height: auto; 
    border-top: 30px;
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }

  
  h1, h2, h3, h4, p, a, img {
    margin: 10px;
}


a:link{
    color: rgb(82, 255, 2)

}


a:visited {
    color: rgb(122, 241, 192);
}


a:hover{
color: rgb(157, 255, 0)
}


.cvazio {
    list-style-type: circle;
}

.circle{
    list-style-type: circle;
}

.nada{
    list-style-type: circle;
}