body {
    background: linear-gradient(to bottom, #01e668, #000000); 

}
p, li {
color:lightgreen;



}
h1, h2, h3 {
color:rgb(39, 172, 79);

}
h4 {
color:darkseagreen;


}
.titulo {
    border: 2px solid rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    display: inline-block; 
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
}
h1, h2 {
    border: 2px solid rgba(255, 255, 255, 0.5); /* Borda branca semi-transparente */
    padding: 15px; /* Espaçamento interno */
    display: inline-block; /* Faz a borda envolver apenas o texto */
    background-color: rgba(0, 0, 0, 0.3); /* Fundo preto semi-transparente */
    border-radius: 8px; /* Arredondamento opcional */
    color: white; /* Deixa o texto branco */
    



}